
body{
    background-color: mediumpurple;
}

.svg-shadow{
    background: whitesmoke;
    /* box-shadow: 10px 10px 10px black ; */
    border-radius: 50%;
    filter: drop-shadow(0px 12px 7px rgba(0,0,0,0.5));
}

.a-nostyle{
    text-decoration: none;
    background: none;
    color: none;
}

.center-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
